.demo-color-box {
  border-radius: 4px;
  padding: 20px;
  height: 74px;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  margin: 5px;
}

.demo-color-box-group {
  .demo-color-box {
    border-radius: 0;
    margin: 0 5px;
  }
  .demo-color-box:first-child {
    border-radius: 4px 4px 0 0;
  }
  .demo-color-box:last-child {
    border-radius: 0 0 4px 4px;
  }
}

[class*=" bg-border-"] {
  color: #303133;
}
