@import "../common/var";

@import "../../node_modules/element-plus/packages/theme-chalk/src/date-picker/time-picker.scss";
@include b(time-panel) {
  margin: 5px 0;
  border: solid 1px $--datepicker-border-color;
  background-color: $--color-white;
  box-shadow: $--box-shadow-light;
  position: absolute;

  @include e(btn) {
    padding: 2px 5px;
    margin: 0 5px;
    border: $--border-dark;
    border-radius: 2px;
    transition: 0.2s;

    &:hover {
      background-color: $--color-black;
      color: $--color-light;
    }
  }
}
