@use "sass:map";
@import "../node_modules/element-plus/packages/theme-chalk/src/alert.scss";

@include b(alert) {
  font-weight: normal;

  @each $type in (success, info, warning, error) {
    @include m($type) {
      &.is-light {
        background-color: rgba(map.get($--colors, $type, "lighter"), 0.5);
        color: var(--el-color-#{$type});
        border: var(--el-color-#{$type});
      }
    }
  }
}
