@import "../node_modules/element-plus/packages/theme-chalk/src/aside.scss";

@include b(autocomplete-suggestion) {
  @include e(wrap) {
    overflow: auto;
    background-color: $--color-white;
    border: 1px solid $--border-color-light;
    border-radius: $--border-radius-base;
  }
}
