@import "../node_modules/element-plus/packages/theme-chalk/src/breadcrumb.scss";

@include b(breadcrumb) {
  @include e(item) {
    @include e(inner) {
      &,
      & a {
        transition: $--color-transition-base;
        color: $--color-text-primary;

        &:hover {
          color: $--color-black;
          border-bottom: 1px dashed #999;
        }
      }
    }
  }
}
