@use "sass:map";

@import "../node_modules/element-plus/packages/theme-chalk/src/button.scss";
@import "mixins/button";
@import "common/var.scss";

@include b(button) {
  text-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
  transition: 0.2s;

  &:active {
    color: mix($--color-black, $--color-dark, $--button-active-shade-percent);
    border-color: mix(
      $--color-black,
      $--color-dark,
      $--button-active-shade-percent
    );
  }

  @include when(glow) {
    @include glow(glowing);
  }

  @keyframes glowing {
    from {
      box-shadow: 0 0 0 rgba($--button-default-border-color, 0.3);
    }
    50% {
      box-shadow: 0 0 20px rgba($--button-default-border-color, 0.6);
    }
    to {
      box-shadow: 0 0 0 rgba($--button-default-border-color, 0.3);
    }
  }

  @include when(loading) {
    border: 1px dashed;
  }

  @include m(light) {
    @include button-variant(
      $--color-black,
      $--button-light-fill,
      $--button-light-border
    );

    color: $--color-black;
  }

  @include m(dark) {
    @include button-variant(
      $--color-white,
      $--button-dark-fill,
      $--button-dark-border
    );
  }

  @each $type in (primary, success, warning, danger, info) {
    @include m($type) {
      &.is-glow {
        @include button-glow(map.get($--button, "border-color", $type), $type);
      }
    }
  }

  @include m(text) {
    color: $--color-dark;
    padding: 5px;
    border-bottom: dashed $--color-dark 1px;

    &:hover,
    &:focus {
      color: $--color-dark;
      background-color: $--color-gray;
      border-bottom: dashed $--color-black 1px;
    }

    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:focus {
      border-bottom: dashed $--border-color-base 1px;
    }
  }
}
