@import "../node_modules/element-plus/packages/theme-chalk/src/checkbox.scss";
@import "common/var.scss";

@include b(checkbox) {
  @include when(bordered) {
    &.is-checked {
      border-color: $--color-black;
    }
  }

  & + .el-checkbox {
    margin-left: 30px;
  }
}

@include b(checkbox-button) {
  @include e(inner) {
    &:hover {
      color: $--color-black;
    }
  }

  &.is-checked {
    & .el-checkbox-button__inner {
      box-shadow: -1px 0 0 0 $--color-dark-light-4;
    }
  }
}
