@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";
@import "common/popup";
@import "../node_modules/element-plus/packages/theme-chalk/src/dialog.scss";

@include b(dialog) {
  @include e(header) {
    background-color: rgba(255, 255, 255, 0.6);
  }

  @include e(headerbtn) {
    .el-dialog__close {
      color: $--color-dark;
    }

    &:focus,
    &:hover {
      .el-dialog__close {
        color: $--color-black;
      }
    }
  }

  @include e(body) {
    padding: 30px 20px;
    line-height: $--dialog-line-height;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 0.3) inset,
      0px -20px 20px -20px rgba(0, 0, 0, 0.3) inset;
  }

  @include e(footer) {
    background-color: rgba(255, 255, 255, 0.6);
  }
}
