@import "mixins/mixins";
@import "common/var";
@import "button";
@import "./popper";
@import "../node_modules/element-plus/packages/theme-chalk/src/dropdown.scss";

@include b(dropdown-menu) {
  padding: 0;
  margin: 5px 0;
  border: 1px solid $--border-color-base;
  box-shadow: $--dropdown-menu-box-shadow;
}
