@import "mixins/mixins";
@import "common/var";
@import "input";

@import "../node_modules/element-plus/packages/theme-chalk/src/input-number.scss";

@include b(input-number) {
  @include e((increase, decrease)) {
    position: absolute;
    z-index: 1;
    top: 1px;
    width: $--input-height;
    height: auto;
    text-align: center;
    background: transparent;
    color: $--color-dark;
    cursor: pointer;
    font-size: 13px;

    &:hover {
      color: $--color-black;
    }

    &.is-disabled {
      color: $--color-dark-light-3;
      cursor: not-allowed;
    }
  }
}
