@import "mixins/mixins";
@import "common/var";
@import "input";

@import "../node_modules/element-plus/packages/theme-chalk/src/input-number.scss";

@include b(input-number) {
  @include e((increase, decrease)) {
    top: 1px;
    background: transparent;
    color: $--color-dark;

    &:hover {
      color: $--color-black;
    }
  }
}
