@use 'sass:math';

@import "mixins/mixins";
@import "common/var";

@import "../node_modules/element-plus/packages/theme-chalk/src/loading.scss";

@include b(loading-spinner) {
  .path {
    stroke: $--color-black;
  }

  i {
    font-size: 22px;
    color: $--color-white;
  }
}
