@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";

@import "../node_modules/element-plus/packages/theme-chalk/src/menu.scss";

@include b(menu) {
  @include m(horizontal) {
    & > .#{$namespace}-submenu {
      &.is-active {
        .el-submenu__title {
          border-bottom: 2px solid $--color-dark;
        }
      }
    }

    & > .el-menu-item.is-active {
      border-bottom: 2px solid $--color-dark;
    }
  }
}
@include b(menu-item) {
  @include when(active) {
    color: $--color-dark;
  }
}

@include b(submenu) {
  @include when(active) {
    .#{$namespace}-submenu__title {
      border-bottom-color: $--color-dark;
    }
  }
}
