@import "mixins/mixins";
@import "common/var";
@import "common/popup";
@import "button";
@import "input";

@import "../node_modules/element-plus/packages/theme-chalk/src/message-box.scss";

@include b(message-box) {
  @include e(wrapper) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 0;
      vertical-align: middle;
    }
  }

  @include e(header) {
    background-color: rgba(255, 255, 255, 0.6);
    min-height: 20px;
  }

  @include e(content) {
    position: relative;
    padding: 20px $--msgbox-padding-primary;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 0.3) inset, 0px -20px 20px -20px rgba(0, 0, 0, 0.3) inset;
  }

  @include e(btns) {
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.6);
  }

  // centerAlign 布局
  @include m(center) {

    @include e(header) {
      padding: 10px;
    }
  }
}
