@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";
@import "select";

@import "../node_modules/element-plus/packages/theme-chalk/src/pagination.scss";

$--pagination-height-extra-small: 22px !default;
$--pagination-line-height-extra-small: $--pagination-height-extra-small !default;

@include b(pagination) {
  @include e(total) {
    margin-right: 10px;
    font-weight: normal;
    color: $--color-text-regular;
  }

  @include e(jump) {
    margin-left: 24px;
    font-weight: normal;
    color: $--color-text-regular;

    .el-input__inner {
      padding: 0 3px;
    }
  }

  @include when(background) {
    .btn-prev,
    .btn-next,
    .#{$namespace}-pager li {
      background-color: $--color-gray;
    }

    .#{$namespace}-pager li:not(.disabled) {
      &.active {
        background-color: $--color-dark;
      }
    }
  }
}
