@import "../node_modules/element-plus/packages/theme-chalk/src/radio-button.scss";
@import "common/var.scss";

@include b(radio-button) {
  @include e(inner) {
    border: $--border-dark;

    &:hover {
      color: $--color-black;
    }
  }

  @include e(orig-radio) {
    left: -999px;
  }

  &:first-child {
    .el-radio-button__inner {
      border-left: $--border-dark;
      border-radius: $--border-radius-base 0 0 $--border-radius-base;
      box-shadow: none !important;
    }
  }

  &:focus:not(.is-focus):not(:active) {
    /*获得焦点时 样式提醒*/
    box-shadow: 0 0 1px $--radio-button-checked-border-color;
  }
}
