@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";
@import "select-dropdown";
@import "input";
@import "tag";
@import "option";
@import "option-group";
@import "scrollbar";

@import "../node_modules/element-plus/packages/theme-chalk/src/select.scss";

@include b(select) {
  .#{$namespace}-input {
    & .#{$namespace}-select__caret {
      @include when(show-close) {
        &:hover {
          color: $--color-black;
        }
      }
    }
  }

  .#{$namespace}-select__tags .#{$namespace}-tag {
    border-color: $--color-dark;
    background-color: $--color-white;
    color: $--color-dark;

    .#{$namespace}-icon-close {
      background-color: transparent;
      color: $--color-dark;

      &:hover {
        background-color: transparent;
        color: $--color-black;
        border: 1px solid $--color-black;
      }
    }
  }

  .el-select-dropdown__wrap {
    margin-bottom: 0 !important;
  }
}
