@import "mixins/mixins";
@import "mixins/utils";
@import "input-number";
@import "tooltip";
@import "common/var";

@import "../node_modules/element-plus/packages/theme-chalk/src/slider.scss";

@include b(slider) {
  @include e(runway) {
    border: $--border-dark;
  }

  @include e(input) {
    float: right;
    margin-top: 3px;
  }

  @include e(button) {
    border: solid 1px $--slider-main-background-color;

    &:hover,
    &.hover,
    &.dragging {
      box-shadow: $--box-shadow-light;
    }
  }
}
