@import "mixins/mixins";
@import "common/var";

@import "../node_modules/element-plus/packages/theme-chalk/src/step.scss";

@include b(step) {
  @include e(head) {
    @include when(wait) {
      color: $--color-dark;
      border-color: $--color-dark;
    }
  }

  @include e(icon) {
    @include when(text) {
      border: 1px solid;
    }
  }

  @include when(horizontal) {
    @include e(line) {
      height: 1px;
    }
  }

  @include when(vertical) {
    @include e(line) {
      width: 1px;
    }
  }
}
