@import "mixins/mixins";
@import "common/var";

@import "../node_modules/element-plus/packages/theme-chalk/src/switch.scss";

@include b(switch) {
  @include e(label) {
    color: $--color-dark;

    @include when(active) {
      color: $--color-black;
      font-weight: normal;
    }
  }

  @include e(input) {
    &:focus ~ .el-switch__core {
      outline: 1px solid $--color-primary;
    }
  }

  @include e(core) {
    &:after {
      content: "";
      position: absolute;
      top: 1px;
      left: 1px;
      border-radius: $--border-radius-base;
      transition: all 0.3s;
      width: $--switch-button-size;
      height: $--switch-button-size;
      background-color: $--color-white;
    }
  }
}
