@import "mixins/mixins";
@import "progress";
@import "common/var";

@include b(upload) {
  /* 照片墙模式 */
  @include m(picture-card) {
    background-color: transparent;
    border: 1px dashed $--color-dark;
    width: 180px;
    height: 180px;

    i {
      color: $--color-dark;
      font-size: 30px;
      color: $--color-text-placeholder;
      margin: 40px 0 16px;
      line-height: 50px;
    }

    &:hover {
      border-color: $--color-black;
      color: $--color-black;
    }
  }
  &:focus {
    border-color: $--color-black;
    color: $--color-black;

    .el-upload-dragger {
      border-color: $--color-black;
    }
  }
}

@include b(upload-dragger) {
  border: 1px dashed $--color-dark;

  .#{$namespace}-icon-upload {
    color: $--color-dark;
  }

  &:hover {
    border-color: $--color-black;
  }
}

@include b(upload-list) {
  @include e(item) {
    .#{$namespace}-icon-close {
      color: $--color-dark;
    }
  }

  @include m(picture-card) {
    .#{$namespace}-upload-list__item {
      border: 1px solid $--color-dark;
    }
  }

  @include m(picture) {
    .#{$namespace}-upload-list__item {
      border: 1px solid $--color-dark;
    }
  }
}

@include b(upload-cover) {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
  cursor: default;
  @include utils-vertical-center;

  @include e(progress) {
    display: inline-block;
    vertical-align: middle;
    position: static;
    width: 243px;

    + .el-upload__inner {
      opacity: 0;
    }
  }

  @include e(content) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
