@use "sass:map";
@use "sass:math";

/* Colors
-------------------------- */
$color-dark: #303133 !default;
$color-light: #fafbfc !default;

$color-white: #fff !default;
$color-black: #000 !default;

$color-gray: #eee !default;
$color-purple: #8e71c1 !default;

// #0078e7

$colors: (
  "primary": (
    "base": #003261,
  ),
  "success": (
    "base": #21ba45,
  ),
  "warning": (
    "base": #f2711c,
  ),
  "danger": (
    "base": #db2828,
  ),
  "error": (
    "base": #db2828,
  ),
  "info": (
    "base": #42b8dd,
  ),
);

$color-primary: map.get($colors, "primary", "base");
$color-success: map.get($colors, "success", "base");
$color-warning: map.get($colors, "warning", "base");
$color-danger: map.get($colors, "danger", "base");
$color-error: map.get($colors, "error", "base");
$color-info: map.get($colors, "info", "base");

/* Link
-------------------------- */
$link-color: $color-dark !default;
$link-hover-color: $color-black !default;

/* Background
-------------------------- */
// $background-color-base: #f5f7fa !default;
$background-color-base: #fcfcfc !default;

/* Border
-------------------------- */
$border-width-base: 1px !default;
$border-style-base: solid !default;
$border-color-base: #999 !default;
$border-color-dark: $color-dark !default;
$border-color-light: #e4e7ed !default;
$border-color-lighter: #ebeef5 !default;
$border-color-extra-light: #f2f6fc !default;
$border-color-hover: $color-dark !default;
$border-base: $border-width-base $border-style-base $border-color-base !default;
$border-dark: $border-width-base $border-style-base $border-color-dark !default;

$border-radius: (
  "base": 2px,
  "small": 2px,
  "round": 20px,
  "circle": 100%,
);

/* Box-shadow
-------------------------- */
$box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04) !default;
$box-shadow-dark: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.12) !default;
$box-shadow-light: 0 4px 12px 0 rgba(0, 0, 0, 0.12) !default;

/* Fill
-------------------------- */
$fill-base: $color-white !default;

/* Typography
-------------------------- */
$font-family: Lato, "PingFang SC", "Microsoft YaHei", Arial, sans-serif;
$font-path: "fonts" !default;
$font-display: "auto" !default;
/// fontSize|1|Font Size|0
$font-size-extra-large: 20px !default;
/// fontSize|1|Font Size|0
$font-size-large: 18px !default;
/// fontSize|1|Font Size|0
$font-size-medium: 16px !default;
/// fontSize|1|Font Size|0
$font-size-base: 14px !default;
/// fontSize|1|Font Size|0
$font-size-small: 13px !default;
/// fontSize|1|Font Size|0
$font-size-extra-small: 12px !default;
$font-color-disabled-base: #bbb !default;
$font-weight-primary: 300 !default;
$font-line-height-primary: 24px !default;

$head-font-size-base: 1rem !default;
$head-font-size-step: 0.4rem !default;
/* Size
-------------------------- */
$size-base: 14px !default;

/* z-index
-------------------------- */
$index-normal: 1 !default;
$index-top: 1000 !default;
$index-popper: 2000 !default;

/* Disable base
-------------------------- */
$disabled-fill-base: $background-color-base !default;
$disabled-border-base: $border-color-base !default;

/* Icon
-------------------------- */
$icon-color: #666 !default;
$icon-color-base: $color-black !default;

/* Checkbox
-------------------------- */
$checkbox-font-size: 14px !default;
$checkbox-input-height: 14px !default;
$checkbox-input-width: 14px !default;
$checkbox-border-radius: var(--el-border-radius-small) !default;
$checkbox-background-color: $color-white !default;
$checkbox-input-border: $border-base !default;
$checkbox-input-border-color: $border-color-base !default;
$checkbox-icon-color: $color-white !default;

$checkbox-disabled-input-border-color: $border-color-base !default;
$checkbox-disabled-input-fill: #edf2fc !default;

$checkbox-checked-font-color: $color-dark !default;
$checkbox-checked-input-border-color: $color-black !default;
$checkbox-checked-background-color: $color-white !default;
$checkbox-checked-icon-color: $color-black !default;

$checkbox-button-font-size: $font-size-base !default;
$checkbox-button-checked-background-color: $color-dark !default;
$checkbox-button-checked-font-color: $color-white !default;

/* Radio
-------------------------- */
$radio-disabled-checked-input-border-color: $disabled-border-base !default;
$radio-disabled-checked-input-fill: $disabled-fill-base !default;

$radio-checked-text-color: $color-black !default;
$radio-checked-input-border-color: $color-black !default;
$radio-checked-input-fill: $color-white !default;
$radio-checked-icon-color: $color-white !default;

$radio-input-border-color-hover: $color-dark !default;

$radio-button-font-size: $font-size-base !default;
$radio-button-checked-background-color: $color-dark !default;
$radio-button-checked-font-color: $color-white !default;
$radio-button-checked-border-color: $color-dark !default;

/* Select
-------------------------- */
$select-input-color: $color-dark !default;
$select-multiple-input-color: #666 !default;
$select-input-focus-background: $color-black !default;
$select-input-font-size: 14px !default;

$select-option-disabled-background: $color-white !default;
$select-option-selected: $color-black !default;
$select-option-selected-hover: $background-color-base !default;

$select-group-color: $color-black !default;

$select-dropdown: (
  "border": solid 1px $border-color-dark,
);

/* Alert
-------------------------- */
$alert-padding: 8px 16px !default;
$alert-border-radius: map.get($border-radius, "base") !default;
$alert-title-font-size: 13px !default;
$alert-description-font-size: 12px !default;
$alert-close-font-size: 12px !default;
$alert-close-customed-font-size: 13px !default;

$alert-icon-size: 16px !default;
$alert-icon-large-size: 28px !default;

/* Message
-------------------------- */
$message-shadow: $box-shadow-base !default;

/* Input
-------------------------- */
$input-width: 140px !default;
$input-border-color-hover: $border-color-hover !default;
$input-fill-disabled: $disabled-fill-base !default;
$input-color-disabled: $font-color-disabled-base !default;
$input-icon-color: $color-dark !default;
$input-max-width: 314px !default;

$input-focus-border: $color-black !default;
$input-focus-fill: $color-white !default;

/* Cascader
-------------------------- */
$cascader-menu-fill: $fill-base !default;
$cascader-menu-font-size: $font-size-base !default;
$cascader-menu-radius: map.get($border-radius, "base") !default;
$cascader-menu-border: $border-base !default;
$cascader-menu-border-color: $border-color-base !default;
$cascader-menu-border-width: $border-width-base !default;
$cascader-menu-option-color-disabled: #999 !default;
$cascader-menu-option-fill-disabled: rgba($color-black, 0.06) !default;
$cascader-menu-option-empty-color: #666 !default;
$cascader-menu-group-color: #999 !default;
$cascader-menu-shadow: 0 1px 2px rgba($color-black, 0.14),
  0 0 3px rgba($color-black, 0.14) !default;
$cascader-menu-option-pinyin-color: #999 !default;
$cascader-menu-submenu-shadow: 1px 1px 2px rgba($color-black, 0.14),
  1px 0 2px rgba($color-black, 0.14) !default;

/* Group
-------------------------- */
$group-option-flex: 0 0 (math.div(1, 5) * 100%) !default;
$group-option-offset-bottom: 12px !default;
$group-option-fill-hover: rgba($color-black, 0.06) !default;
$group-title-color: $color-black !default;
$group-title-font-size: $font-size-base !default;
$group-title-width: 66px !default;

/* Tab
-------------------------- */
$tab-font-size: $font-size-base !default;
$tab-border-line: 1px solid $color-gray !default;
$tab-header-fill-active: rgba($color-black, 0.06) !default;
$tab-header-fill-hover: rgba($color-black, 0.06) !default;
$tab-vertical-header-width: 90px !default;
$tab-vertical-header-count-color: $color-white !default;

/* Button
-------------------------- */
// old
$button-disabled-background-color: transparent !default;
$button-disabled-border-color: $border-color-base !default;

$button-light-border: $color-light !default;
$button-light-color: $color-light !default;
$button-light-fill: $color-light !default;

$button-dark-border: $color-dark !default;
$button-dark-color: $color-dark !default;
$button-dark-fill: $color-dark !default;

$button-primary-border: $color-primary !default;
$button-primary-color: $color-primary !default;
$button-primary-fill: $color-primary !default;

$button-success-border: $color-success !default;
$button-success-color: $color-success !default;
$button-success-fill: $color-success !default;

$button-warning-border: $color-warning !default;
$button-warning-color: $color-warning !default;
$button-warning-fill: $color-warning !default;

$button-danger-border: $color-danger !default;
$button-danger-color: $color-danger !default;
$button-danger-fill: $color-danger !default;

$button-info-border: $color-info !default;
$button-info-color: $color-info !default;
$button-info-fill: $color-info !default;

$button-hover-tint-percent: 20% !default;
$button-active-shade-percent: 10% !default;

/* cascader
-------------------------- */
$cascader-height: 200px !default;

/* Switch
-------------------------- */
$switch-on-color: $color-dark !default;
$switch-off-color: $border-color-base !default;
$switch-disabled-color: $border-color-lighter !default;

$switch-font-size: $font-size-base !default;
$switch-core-border-radius: 2px !default;
$switch-width: 40px !default;
$switch-height: 20px !default;
$switch-button-size: 16px !default;

/* Dialog
-------------------------- */
$dialog-background-color: rgba(255, 255, 255, 0.8) !default;
$dialog-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3) !default;
$dialog-close-hover-color: $color-black !default;
$dialog-line-height: $font-line-height-primary !default;
$dialog-padding-primary: 15px !default;

/* Table
-------------------------- */
$table-border-color: $border-color-lighter !default;
$table-border: 1px solid $border-color-lighter !default;
$table-row-hover-background-color: $background-color-base !default;
/// color||Color|0
$table-header-background-color: $color-white !default;
$table-fixed-box-shadow: 0 0 10px rgba(0, 0, 0, 0.12) !default;

/* Pagination
-------------------------- */
$pagination-hover-fill: $color-dark !default;
$pagination-hover-color: $color-white !default;

/* Popover
-------------------------- */
$popover-border-color: $border-color-dark !default;

/* Tag
-------------------------- */
$tag-fill-opacity: 0.01;
$tag-border-opacity: 1;
$tag-padding: 0 10px !default;
$tag-fill: rgba($color-primary, $tag-fill-opacity) !default;
$tag-border: rgba($color-primary, $tag-border-opacity) !default;
$tag-font-size: 12px !default;
$tag-border-radius: 1px !default;

$tag-dark-fill: rgba($color-dark, $tag-fill-opacity) !default;
$tag-dark-border: rgba($color-dark, $tag-border-opacity) !default;

$tag-info-fill: rgba($color-info, $tag-fill-opacity) !default;
$tag-info-border: rgba($color-info, $tag-border-opacity) !default;

$tag-primary-fill: rgba($color-primary, $tag-fill-opacity) !default;
$tag-primary-border: rgba($color-primary, $tag-border-opacity) !default;

$tag-success-fill: rgba($color-success, $tag-fill-opacity) !default;
$tag-success-border: rgba($color-success, $tag-border-opacity) !default;

$tag-warning-fill: rgba($color-warning, $tag-fill-opacity) !default;
$tag-warning-border: rgba($color-warning, $tag-border-opacity) !default;

$tag-danger-fill: rgba($color-danger, $tag-fill-opacity) !default;
$tag-danger-border: rgba($color-danger, $tag-border-opacity) !default;

/* Tree
-------------------------- */

/* Dropdown
-------------------------- */
$dropdown-menu-box-shadow: $box-shadow-light !default;
$dropdown-menuItem-hover-color: $link-color !default;

/* Badge
-------------------------- */
$badge-background-color: $color-danger !default;
$badge-radius: 10px !default;
$badge-font-size: 12px !default;
$badge-padding: 6px !default;
$badge-size: 18px !default;

/* Card
--------------------------*/
$card-border-color: $border-color-light !default;

/* Slider
--------------------------*/
$slider-main-background-color: $color-dark !default;
$slider-runway-background-color: $color-light !default;
$slider-button-hover-color: mix($color-dark, black, 97%) !default;

$slider-margin: 16px 0 !default;
$slider-border-radius: 1px !default;
$slider-height: 6px !default;
$slider-button-size: 16px !default;
$slider-button-wrapper-size: 36px !default;
$slider-button-wrapper-offset: -15px !default;

/* Steps
--------------------------*/
$steps-border-color: $disabled-border-base !default;
$steps-border-radius: 4px !default;
$steps-padding: 20px !default;

/* Menu
--------------------------*/
$menu-item-hover-fill: $color-gray !default;

/* Rate
--------------------------*/
$rate-height: 20px !default;
$rate-font-size: $font-size-base !default;
$rate-icon-size: 18px !default;
$rate-icon-margin: 6px !default;

/* DatePicker
--------------------------*/
$datepicker-border-color: $border-color-dark !default;
$datepicker-inner-border-color: #e4e4e4 !default;
$datepicker-inrange-color: $border-color-extra-light !default;
$datepicker-inrange-hover-color: $border-color-extra-light !default;
$datepicker-active-color: $color-black !default;
$datepicker-text-hover-color: $color-black !default;
$datepicker-cell-hover-color: #fff !default;

/* Loading
--------------------------*/
$loading-spinner-size: 42px !default;
$loading-fullscreen-spinner-size: 50px !default;

/* Scrollbar
--------------------------*/

/* Carousel
--------------------------*/
$carousel-arrow-font-size: 12px !default;
$carousel-arrow-size: 36px !default;
$carousel-arrow-background: rgba(31, 45, 61, 0.11) !default;
$carousel-arrow-hover-background: rgba(31, 45, 61, 0.23) !default;
$carousel-indicator-width: 30px !default;
$carousel-indicator-height: 2px !default;
$carousel-indicator-padding-horizontal: 4px !default;
$carousel-indicator-padding-vertical: 12px !default;
$carousel-indicator-out-color: $border-color-hover !default;

/* Collapse
--------------------------*/
$collapse-border-color: $border-color-base !default;
/// height||Other|4
$collapse-header-height: 48px !default;
/// color||Color|0
$collapse-header-background-color: $color-white !default;
/// fontSize||Font|1
$collapse-header-font-size: 13px !default;
/// color||Color|0
$collapse-content-background-color: $color-white !default;
/// fontSize||Font|1
$collapse-content-font-size: 13px !default;

/* Transfer
--------------------------*/
$transfer-border-color: $border-color-base !default;
$transfer-border-radius: map.get($border-radius, "base") !default;
$transfer-panel-width: 200px !default;
$transfer-panel-header-height: 40px !default;
$transfer-panel-header-background: $background-color-base !default;
$transfer-panel-footer-height: 40px !default;
$transfer-panel-body-height: 246px !default;
$transfer-item-height: 30px !default;
$transfer-filter-height: 32px !default;

// 前面的 !default 会覆盖后者
/* Element Chalk Variables */
